@import "compass/css3/border-radius";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";


/* @see http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */ 

.triangle-border {
position: relative;
padding: 15px;
margin: 1em 0 3em;
border: 1px solid #ccc;
color: #333;
background: #fff;
@include box-shadow(#ccc 0px 1px 8px -2px);
}

.triangle-border.top::before {
top: -12px;
bottom: auto;
left: auto;
right: -1px;
border-width: 0 0 12px 17px;
}

.triangle-border::before {
content: "";
position: absolute;
bottom: -20px;
left: 40px;
border-width: 20px 20px 0;
border-style: solid;
border-color: #ccc transparent;
display: block;
width: 0;
}

.triangle-border.top::after {
top: -10px;
bottom: auto;
left: auto;
right: 0px;
border-width: 0 0 10px 15px;
}

.triangle-border::after {
content: "";
position: absolute;
bottom: -13px;
left: 47px;
border-width: 13px 13px 0;
border-style: solid;
border-color: white transparent;
display: block;
width: 0;
}


.triangle-border-full {
	position: relative;
	padding: 15px;
	margin: 1em 0 3em;
	border: 1px solid #ccc;
	color: #333;
	background: #fff;
	@include box-shadow(#ccc 0px 1px 8px -2px);
}

.triangle-border-full.top::before {
	top: -12px;
	bottom: auto;
	left: auto;
	right: 18px;
	border-width: 0 17px 12px 17px;
}

.triangle-border-full.bottom::before  {
	border-width: 12px 15px 0px 17px;
	bottom:-12px;
	top:auto;	
}


.triangle-border-full::before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 40px;
	border-width: 20px 20px 0;
	border-style: solid;
	border-color: #ccc transparent;
	display: block;
	width: 0;
}

.triangle-border-full.top::after {
	top: -10px;
	bottom: auto;
	left: auto;
	right: 19px;
	border-width: 0 15px 10px 15px;
}

.triangle-border-full.bottom::after {
	bottom:-10px;
	top:auto;
	border-width: 10px 15px 0 15px;
}

.triangle-border-full::after {
	content: "";
	position: absolute;
	bottom: -13px;
	left: 47px;
	border-width: 13px 13px 0;
	border-style: solid;
	border-color: white transparent;
	display: block;
	width: 0;
}
