/*
 * Mixins
 */
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3";

/*
* Fonts
*/

$heading_strong: 		"Helvetica Neue", Helvetica, Arial,"Sans-serif";
$heading_light: 		"Helvetica Neue", Helvetica, Arial,"Sans-serif";
$nav_font: 			    Helvetica, Arial, sans-serif;
$body_font: 			Helvetica, Arial, sans-serif;
$footer_font:			"Helvetica Neue", Helvetica, Arial,"Sans-serif";

/*
* General
*/

$body_font_color: 			#666666;
$body_background_color: 	#FFFFFF;

$border_cl:					#CCCAC8;

$headings_font_weight:		normal;
$heading_color:				#000;

$loop_tools_marg:			10px;

$sidebar_fauxbanner_margin_bt:		30px;
$sidebar_fauxbanner_border_cl:		$border_cl;


$standard_padding: 5px;
$standard_margin: 10px;

/*
 * Bootstrap specific overrides
 */
.alert{
  margin-top: $standard_whitespace !important;
}

/*
* Fake banners
*/

.faux_LEADERBOARD{
  width: 728px;
  height: 88px;
  border: 1px solid #999999;
  margin: 0 auto;
}

.faux_MPU{
  width: 298px;
  height: 248px;
  border: 1px solid #999999;
  background-color: #ffffff;
}

/*
 * Wordpress specific stuff
 */

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.alignleft,
img.alignright,
img.aligncenter {
  margin-bottom: $standard_whitespace;
}



/*
 * Utility classes
 */

.prepend-top{
  margin-top: $standard_whitespace !important;
}

//Top padding
@for $i from 2 through 6	 {
  .prepend-top-#{$i}{
    margin-top: $standard_whitespace*$i !important;
  }
}


.append-bottom{
  margin-bottom: $standard_whitespace !important;
}

//Bottom padding
@for $i from 2 through 6 {
  .append-bottom-#{$i}{
    margin-bottom: $standard_whitespace*$i !important;
  }
}

.pull-up{
  margin-top: -$standard_whitespace !important;
}

//Bottom padding
@for $i from 2 through 6 {
  .pull-up-#{$i}{
    margin-top: -$standard_whitespace*$i !important;
  }
}

.hero-header {
  text-align: center;
  padding-top: $standard_indent;
}

.indent {
  padding-left: $standard_indent;
}

.postdent {
  padding-right: $standard_indent;
}

.clear{
  clear: both;
}

.underline{
  border-bottom: 1px solid #000000;
  padding-bottom: $standard_whitespace;
  margin-bottom: $standard_whitespace;
}

.tight{
  padding: 0;
  margin: 0;
}


/*
* Rules
*/

div.hr,
div.hr2,
div.hr3,
div.hr4 {
  clear: both;
  border-bottom: 1px solid #000000;
  margin-bottom: $standard_margin;
  hr {
    display: none;
  }
}

div.hr2{
  border-bottom: 1px dotted #000000;
}

div.hr3{
  border-bottom: 1px solid #000000;
}

div.hr4{
  border-bottom: 1px solid #e6e6e6;
}

/*
* Sprites
*/

i.iconblock{
  display: inline-block;
  margin-bottom: -5px;
}

/*
$icons-sprite-dimensions: true;
$icons-spacing: 10px;

$icons-2x-sprite-dimensions: true;
$icons-2x-spacing: 10px;

//$icons-search_arrow_noactv-position: 60%;
@import "icons/*.png";
@import "icons-2x/*.png";
@include all-icons-sprites;
@include all-icons-2x-sprites;

// augment sprites with retina handling
@mixin use-sprite($sprite) {
    background-image: sprite-url($icons-sprites);
    background-position: sprite-position($icons-sprites, $sprite);
    background-repeat: no-repeat;
    height: image-height(sprite-file($icons-sprites, $sprite));
    width: image-width(sprite-file($icons-sprites, $sprite));

    @media only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi),
		only screen and (min-device-pixel-ratio: 2) {
        background-image: sprite-url($icons-2x-sprites);
        background-size: (image-width(sprite-path($icons-2x-sprites)) / 2) (image-height(sprite-path($icons-2x-sprites)) / 2);
        background-position: round(nth(sprite-position($icons-2x-sprites, $sprite), 1) / 2) round(nth(sprite-position($icons-2x-sprites, $sprite), 2) / 2);
        height: image-height(sprite-file($icons-2x-sprites, $sprite)) / 2;
        width: image-width(sprite-file($icons-2x-sprites, $sprite)) / 2;
    }
}
*/

/*
* Semantic elements
*/

h1, h2, h3, h4{
  font-family: $heading_strong;
  margin: $tight_whitespace 0 $loose_whitespace 0;
  padding-bottom: $tight_whitespace;
  font-weight: $headings_font_weight;
  line-height: 1;
  color: $heading_color;
  a {
    color: $heading_color;
    text-decoration-color: $heading_color;
    &:hover{
	color: $heading_color;
    }
  }
}

h1, h4{
  margin-top: 0;
}


h2.divider{
  clear: both;
  font-size: 1.3em;
  text-transform:uppercase;
  border-top: 1px dotted #000000;
  border-bottom: 1px dotted #000000;
  margin-top: $loose_whitespace;
  padding-top: $tight_whitespace;
  padding-bottom: $tight_whitespace;
}


.dropdown-menu {
	position: absolute;
	z-index: 1000;
	display: none;
	float: left;
	padding: 5px 0;
	margin: 13px 0 0;
	list-style: none;
	background-color: white;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	@include border-radius(2px);
	@include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
	@include background-clip(padding-box);

	&:before {
		position: absolute;
		top: -13px;
		left: 50%;
		@include translate(-13px, 0);
		display: inline-block;
		border-right: 13px solid transparent;
		border-bottom: 13px solid #cccccc;
		border-left: 13px solid transparent;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		content: '';
	}

	&:after {
		position: absolute;
		top: -12px;
		left: 50%;
		@include translate(-12px, 0);
		display: inline-block;
		border-right: 12px solid transparent;
		border-bottom: 12px solid white;
		border-left: 12px solid transparent;
		content: '';
	}
}

.open .dropdown-menu {
	display: block;
}

.navbar .nav > li > a {
  padding-left: 0;
}

/*
* Structural elements
*/

body {
  font-family:$body_font;
  color: $body_font_color;
  background-color: $body_background_color;
}

#menu-text{
  padding: $standard_padding*2 0 0 $standard_padding;
  font-size: 1.2em;
}


#search_wrapper{
  i.icons-big_search{
  	display: none;
  }
  #searchform{
    background-color: $white;

	.input-append {
		input#s{
			border-color: #CCCAC8;
			border-right-color: transparent;
			@include box-shadow(none);
		}
	}

	#s-symbol{
		border-color: #CCCAC8;
		border-left-color: transparent;
	}
  }
}

#searchform{
  margin: 0;
}

#s,
#s-symbol{
  @include border-radius(0, 0);
  border-color: #000000;
  background-color: transparent;
}

#s{
  border-right-color: transparent;
}

#s-symbol{
  border-left-color: transparent;
}

#header{

}

#footer {

}

#super_header{

}

#super_header a{
  font-weight: bold;
}


#top_nav_wrapper{

}

#sidebar {
	margin-left:18px; // decrease standard margin, to accomodatee border

	ul, li{list-style: none;}

    li {
      padding-top: $standard_padding;
      padding-bottom: $standard_padding;
      border-bottom: 1px solid #000000;
    }

	.faux_banner{
 		 margin-top: $standard_whitespace;
  		margin-bottom: $sidebar_fauxbanner_margin_bt;
	}

    h2 {
      font-size: 1.4em;
      font-weight: bold;
      label{
        font-size: inherit;
      }
    }

}

/*
* Images
*/

img {
  max-width: 100%;
}

/*
* Links
*/

a{
  color: #00B5D9;
  &:hover{
    text-decoration: underline;
    color: #00B5D9;
  }
}

/*
* Loops
*/
#sidebar ul,
ul.standard_loop{
  list-style: none;
  margin: 0;
}

//http://stackoverflow.com/questions/2198116/xhtml-css-how-to-make-inner-div-get-100-width-minus-another-div-width/2251833#2251833
ul.standard_loop{
  li {
    margin: 0 0 $standard_margin*3 0;

    h2, h2 a,
    h3, h3 a{
      margin: 0;
      font-weight: bold;
      font-size: 1.4em;
    }

    h3, h3 a{
      font-size: 1.3em;
    }

    p {
      margin: 0;
      span {
        font-weight: bold;
      }
    }
  }
}


.imagecolwrap{
  overflow: hidden;/* Makes #outer contain its floated children */
  width: 100%;
  margin: 0 0 $standard_margin 0;

  .imagecol, {
    float: left;
    padding:  0 $standard_margin 0 0;
  }

  .textcol{
    overflow: hidden;/* Make this div take up the rest of the horizontal space, and no more */
  }
}


/*
 *
 * Responsive overrides
 *
 */



//
// Responsive: Tablet to desktop
// --------------------------------------------------

@media (min-width: 768px) {


}

//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px) {

}




// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {




}
